{% extends 'analysis/base.html' %}

{% block title %}Data Analysis - Introduction{% endblock %}

{% block pagecontent %}
    <div id="wrapper" class="toggled">
        {% include 'analysis/partials/sidebar.html' %}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Introduction</h1>
                <p>
                    Issue: Energy Efficiency improvement of central heating systems in buildings.<br>

                    Goals: Energy efficiency improvement, less energy (natural gas) consumption, emission reduction, etc.<br>

                    Methods: Using building energy management systems (BEMS), insulation of building, heating system retrofit, solar pre-heating system, etc. <br>

                    Measurement and Validation (M&V): Development of baseline, Measurement and Calculation of energy saving.
</p>
            </div>
        </div>
    </div>
{% endblock %}